<section class="section banner">
	<div class="container">
		<div class="row">
			<div class="col-lg-10">
				 <h2 class="cd-headline clip is-full-width mb-4 ">
					Siambo's Hair Stylist provides salon service for <br>
                    <span class="cd-words-wrapper text-color">
                        <b class="is-visible">Toddlers. </b>
                        <b>Teenagers.</b>
                        <b>Adults.</b>
                    </span>
                </h2>
                <p>Siambo's Hair Stylist provides its service at an affordable price <br>that meets your budget</p>
			</div>
		</div>
	</div>
</section>
